In [23]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [24]:
attacks= pd.read_csv('GSAF5.csv', encoding='latin-1')

In [25]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [26]:
attacks.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [27]:
attacks.describe()

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000

In [28]:
attacks2=attacks.copy()
attacks2

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [29]:
def eliminar_columnas_y_filas(dataframe):
    eliminar_cols_y_fils = dataframe.copy()
    eliminar_cols_y_fils.dropna(axis=1, how='all', inplace= True)
    eliminar_cols_y_fils.dropna(axis=0, how='all', inplace= True)
    return eliminar_cols_y_fils

In [30]:
def eliminar_columnas_rep(dataframe2):
    elimnar_cols_rep = dataframe2.copy()
    elimnar_cols_rep = elimnar_cols_rep[['Date', 'Type', 'Country', 'Area', 'Location',
                                        'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
                                        'Species ', 'Investigator or Source', 'pdf', 'href formula','original order']]
    return elimnar_cols_rep

In [31]:
def eliminar_espacios_en_titulos(dataframe3):
    elimina_espacios = dataframe3.copy()
    elimina_espacios.columns = elimina_espacios.columns.str.strip()
    return elimina_espacios

In [32]:
def Cambiar_orden_de_columnas(dataframe4):
    ordenar_cols = dataframe4.copy()
    ordenar_cols = ordenar_cols[['original order','Name','Sex', 'Age', 'Injury', 'Fatal (Y/N)','Activity',
                                 'Type','Date','Country', 'Area', 'Location', 'Species', 'Investigator or Source', 
                                 'pdf', 'href formula']]
    return ordenar_cols

In [33]:
def Cambiar_nombre_de_columnas(dataframe5):
    cambiar_nombre = dataframe5.copy()
    cambiar_nombre = cambiar_nombre.rename(columns ={'original order':'Order','Name':'FullName','Investigator or Source':'Source','pdf':'Image',
                                                     'href formula':'href'})
    return cambiar_nombre

In [34]:
def Arreglo_de_order(dataframe6):
    cambio_order = dataframe6.copy()
    cambio_order['Order'] = cambio_order['Order'].fillna(0).astype(np.int64, errors = 'ignore')
    
    return cambio_order

In [35]:
def eliminar_vacios(dataframe7):
    eliminar_nans = dataframe7.copy()
    columnas = ['Order', 'FullName', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Activity','Type', 
                'Date', 'Country', 'Area', 'Location', 'Species', 'Source','Image', 'href']
    for columna in columnas:
        eliminar_nans[columna] = eliminar_nans[columna].fillna('Unknown')
    eliminar_nans = eliminar_nans.fillna(0)

    return eliminar_nans

In [36]:
def eliminar_renglones_vacios(dataframe8):
    eliminar_rows = dataframe8.copy()
    eliminar_rows = eliminar_rows[eliminar_rows['Date']!='Unknown']
    eliminar_rows = eliminar_rows.drop_duplicates()
    eliminar_rows = eliminar_rows.sort_values(by=['Order']).reset_index()
    return eliminar_rows

In [37]:
def definition_code_type(dataframe9):
    code_type = dataframe9.copy()
    code_type['Encode_Type'] = code_type['Type'].apply(definition_type)
    return code_type

In [38]:
def definition_type(list1):
    if list1 == 'Unknown':
        return 0
    if list1 == 'Unprovoked':
        return 1
    if list1 == 'Boat':
        return 2
    if list1 == 'Sea Disaster':
        return 3
    if list1 == 'Provoked':
        return 4
    if list1 == 'Invalid':
        return 5
    if list1 == 'Boating':
        return 6
    if list1 == 'Boatomg':
        return 7
    if list1 == 'Questionable':
        return 8

In [40]:
data1 = eliminar_columnas_y_filas(attacks2)
data2 = eliminar_columnas_rep(data1)
data3 = eliminar_espacios_en_titulos(data2)
data4 = Cambiar_orden_de_columnas(data3)
data5 = Cambiar_nombre_de_columnas(data4)
data6 = Arreglo_de_order(data5)
data7 = eliminar_vacios(data6)
data8 = eliminar_renglones_vacios(data7)
data9 = definition_code_type(data8)
data9.to_csv('main.csv')